div.contenedor {
  margin: 2%;
}

h1 {
  text-align: center;
}

form.formulario {
  margin: 5%;
}

div.nav-link {
  margin-right: 5%;
  margin-left: 8%;
}


.mensajes-errores {
  transition:3s linear all;
}

.mensajes-errores.ng-active {
  color: red;
}
.mensajes-errores.ng-inactive {
  color: green;
}


  span.nav-links {
    margin-right: 1%;
  }

  span.nav-links > a {
    color: #645F5E
  }

  div.nav-link {
    margin-top: 2%;
    color: #645F5E;
    border-bottom: solid  rgba(36, 55, 66, 0.25) 1px;
    padding-bottom: 2%;
  }

  span.nav-links-button > a {
    color: white;
  }

span.errores {
  color: red;
}

.formulario input.ng-invalid.ng-touched {
    border: solid #FA787E 1px;
  }

  .formulario textarea.ng-invalid.ng-touched {
      border: solid #FA787E 1px;
    }

  .formulario input.forms.ng-untouched {
      border: solid rgb(91, 207, 57) 1px;
    }

    .formulario textarea.forms.ng-untouched {
        border: solid rgb(91, 207, 57) 1px;
      }
