<!--
dificultad ejercicio
download problem
porcentaje de estudiantes resueltos
estadistica ejercicio
estudiante que han resuelto el ejercicio
rank user score country
discussion?
-->
<div class='contenedor'>
  <div class='row'>
    <div class='col-lg-8'>
      <button ng-click='$ctrl.$back()' class='btn btn-primary'>volver</button>
      <h1>{{$ctrl.ejercicio_data.titulo}}</h1>
      <div class='info-autor row'>
        <div class='col-xs-12 col-md-1 col-lg-1'>
          <div class='img-autor'>
              <img ng-src="{{$ctrl.autor.img}}" alt={{$ctrl.ejercicio_data.autor}}>
          </div>
        </div>
        <div class='col-xs-12 col-md-11 col-lg-5 text-md-right'>
          <span>Por </span><span class='correo-autor'>{{$ctrl.ejercicio_data.autor}}</span>
        </div>
        <div class='col-xs-12  col-md-12 col-lg-6 text-md-right'>
          <p class='nombre-autor'>{{$ctrl.autor.nombre}}</p>
        </div>
      </div>

      <section class="ejercicio-declaration card">
        <h3>Problema</h3>
        <article>
            <p>{{$ctrl.ejercicio.declaration}}</p>
        </article>
      </section>
      <section class="ejercicio-notas">
        <h3>Notas</h3>
        <div ng-repeat="nota in $ctrl.ejercicio.notes">
          <article >
            <p>{{nota}}</p>
          </article>
        </div>
      </section>
      <section class='ejercicio-input-format'>
        <h3>Formato de entrada</h3>
        <p>{{$ctrl.ejercicio.input_format}}</p>
      </section>
      <section class='ejercicio-constrains' ng-if="$ctrl.ejercicio.constrains.length != 0">
        <h3>Constrains</h3>
        <article ng-repeat="constrain in $ctrl.ejercicio.constrains">
          <p>{{constrain}}</p>
        </article>
      </section>
      <section class='ejercicio-outputs'>
        <h3>Salidas</h3>
        <article ng-repeat="output in $ctrl.ejercicio.outputs_format">
          <p>{{output}}</p>
        </article>
      </section>
      <section class='ejercicio-sample-input'>
        <h3>Ejemplo entradas</h3>
        <article ng-repeat='input in $ctrl.ejercicio.samples_input'>
          <p>{{input}}</p>
        </article>
      </section>
      <section class='ejercicio-sample-output'>
        <h3>Ejemplo salidas</h3>
        <article ng-repeat='output in $ctrl.ejercicio.samples_output'>
          <p>{{output}}</p>
        </article>
      </section>
      <section class='ejercicio-explanation' ng-if="$ctrl.ejercicio.explanation !=''">
        <h3>Explicacion</h3>
        <article>
          <p>{{ $ctrl.ejercicio.explanation}}</p>
        </article>
      </section>
    </div>
    <div class='col-lg-4 nav'>
        <div class='porcentaje-resueltos'>
          <span>Porcentaje Resuletos: </span>
          <span>{{$ctrl.ejercicio_data.porcentaje_resueltos}} %</span>
        </div>
        <div class='nivel-dificultad-nav'>
          <span>Dificultad: </span>
          <span class='dificultad'>
              <icon  ng-repeat="n in $ctrl.range(1,$ctrl.ejercicio_data.nivel_dificultad)" class='fa fa-star fa-lg'></icon>
          </span>
        </div>
    </div>
  </div>
</div>

<!--
<h1>{{$ctrl.ejercicio.id}}</h1>
<h1>{{$ctrl.ejercicio_data.titulo}}</h1>
<h3>{{$ctrl.autor.nombre}}</h3>
-->
