.mensajes-errores {
  transition:3s linear all;
}

.mensajes-errores.ng-active {
  color: red;
}
.mensajes-errores.ng-inactive {
  color: green;
}


div.contenedor {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 4%;
  margin-bottom : 4%
}

h2 {
  text-align: center;
}

div.titulo, div.tags, div.descripcion {
  margin-bottom: 3%;
}

div.archivo {
  margin-top: 3%;
  margin-bottom: 8%;
}

div.hora-fecha {
  margin-top: 5%;
  margin-bottom: 5%;
}

span.errores {
  color: red;
}

.formulario input.ng-invalid.ng-touched {
    border: solid #FA787E 1px;
  }

  .formulario textarea.ng-invalid.ng-touched {
      border: solid #FA787E 1px;
    }

  .formulario input.forms.ng-untouched {
      border: solid rgb(91, 207, 57) 1px;
    }

    .formulario textarea.forms.ng-untouched {
        border: solid rgb(91, 207, 57) 1px;
      }
