.profile-photo{
			margin-top: 4%;
			margin-left: 4%;
			margin-bottom: 2%;
			border-radius: 100px;
		}
		.name{
			margin-top: 4%;
		}
		li{
			list-style-type: none;
		}
		.container{
			margin-top: 10%;
		}
		.progress{
			width: 25%;
			position: relative;
		}
		.progress span {
		    position: absolute;
		    display: block;
		    width: 100%;
		    color: black;
		 }
		.progress-bar{
			width: 0%;
		}
		h1{
			color: #337ab7;
		}
		@media (max-width: @screen-xs) {
		    body{font-size: 10px;}
		}