<!DOCTYPE html>
<html lang="en" ng-app='App'>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- CSS-->
  <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/balloon.min.css">
  <!--<link rel="stylesheet" href="./css/hover-min.css">-->
  <link rel="stylesheet" href="./css/contenido.css">
  <!-- -->
  <link rel="stylesheet" href="./css/side-bar.css">
  <link rel="stylesheet" href="./css/font-awesome.min.css">
  <link rel="stylesheet" href="../../public/css/custom-navbar.css">
  <title>Semanal</title>
</head>
<body  ng-controller="ClaseTemaController">

  <header>
		<nav class="navbar navbar-default navbar-static-top">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="../../index.html">ESPOL</a>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav">
		        <li class="espol"><a href="../../index.html">Inicio</a></li>
		        <li class="espol"><a href="semanal.html">Semana a Semana</a></li>
		        <li class="espol"><a href="../equipo/equipo.html">Equipo</a></li>
		        <li class="espol"><a href="../sandbox/index.html">Sandbox</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li>
		        	<button class="btn btn-info"  data-toggle="modal" data-target="#myModal">
					    <img src="../../public/media/img/no-Avatar.jpg" id="login" />
					</button>

		        </li>
		      </ul>
		    <!--Modal para el PopUP de login-->
					<div class="modal fade" id="myModal" role="dialog">
					    <div class="modal-dialog">

						      <!-- Modal content-->
						    <div class="modal-content">
						    	<div class="modal-header">
						        	<button type="button" class="close" data-dismiss="modal"></button>
						        	<h3 class="modal-title words">Login</h3>
						    	</div>
						    	<div class="modal-body">
						    		<form>
									    <div class="form-group">
									      <label for="usr" class="words">Usuario:</label>
									      <input type="text" class="form-control" id="usr">
									    </div>
									    <div class="form-group">
									      <label for="pwd" class="words">Contraseña:</label>
									      <input type="password" class="form-control" id="pwd">
									    </div>
									    <div class="checkbox">
											<label><input type="checkbox" value="" class="words">No cerrar sesión</label>
											<br>
											<form action="">
											  <input type="radio" name="tipo" value="male">Estudiante<br>
											  <input type="radio" name="tipo" value="female">Profesor<br>
											</form>
										</div>
									  </form>
						    	</div>
						    	<div class="modal-footer">
						    		<button type="button" class="btn btn-default inline pull-left" id="entrar">Entrar</button>
						    		<button type="button" class="btn btn-default inline pull-right" data-dismiss="modal">Close</button>
						    		<hr class="clearer">
						    		<a href="#" class="words"><h6>Crear una cuenta</h6></a>
						    		<a href="app/misc/forgotPass.html" class="words"><h6>¿Olvidaste tu contraseña?</h6></a>
						    	</div>
							</div>

						</div>
					</div>
						<!--Fin de la creación del modal-->
		    </div>
		  </div>
		</nav>

	<div class="row-offcanvas row-offcanvas-left" ng-controller='ActividadesClasesController'>
	  <div id="sidebar" class="sidebar-offcanvas">
	      <div class="col-md-12">
	        <ul class="nav nav-pills nav-stacked" >
            <div class="panel-group">
              <div class="panel panel-default" ng-repeat='clase in clases'>
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse{[{clase.semana}]}">Semana {[{clase.semana}]} </a>
                  </h4>
                </div>
                <div id="collapse{[{clase.semana}]}" class="panel-collapse collapse">
                  <li class="list-group item" >
                    <a href=""  class="list-group-item " id-clase={[{clase.clases[0].id}]} ng-click="showdiv($event)">Aula: {[{clase.clases[0].descripcion}]}</a>
                  </li>
                  <li class="list-group item" >
                    <a class="list-group-item" id-clase={[{clase.clases[1].id}]} ng-click="showdiv($event)"><i class="fa fa-desktop fa-lg"></i> {[{clase.clases[1].descripcion}]}
                    </a>
                  </li>
                </div>
              </div>
            </div>
	        </ul>
	      </div>
	  </div>

    <div id="main">
      <button type="button" class="btn visible-xs" data-toggle="offcanvas"><i class="fa fa-calendar fa-lg"></i></button>
      <div ng-if=estado class="contenido-clase" ng-include="'./templates/nav_clase.html'" onload="item = clase_escogida"></div>
    </div>
	</div><!--/row-offcanvas -->

  <!-- SCRIPTS -->
  <script src="../../public/js/angular.min.js" charset="utf-8"></script>
  <script src="../../public/js/jquery.js" charset="utf-8"></script>
  <script src="../../public/js/bootstrap.min.js"></script>
  <!---------------------------->
  <script type="text/javascript">
  	$(document).ready(function() {
  	  $('[data-toggle=offcanvas]').click(function() {
  	    $('.row-offcanvas').toggleClass('active');
  	  });
  	});
  </script>
    <!-- ANGULAR APPS-->
    <script src="./app.js" charset="utf-8"></script>
    <script src="./modules/clases-module.js" charset="utf-8"></script>
</body>
</html>
