<div class='date'>
<style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
</style>
    <div style="display:inline-block; min-height:290px;">
      <div uib-datepicker ng-model="$ctrl.dt" class="well well-sm" datepicker-options="$ctrl.options"></div>
    </div>
    <div class='row'>
      <div class='col-md-4 col-xs-12'>
        <span>Fecha entrega es: </span>
      </div>
      <div class='col-md-8 col-xs-12 text-left'>
        <span>{{$ctrl.dt | date:'fullDate' }}</span>
      </div>
    </div>
    <br>
    <button type="button" class="btn btn-sm btn-info" ng-click="$ctrl.today()">Hoy</button>
    <button type="button" class="btn btn-sm btn-danger" ng-click="$ctrl.clear()">Limpiar</button>
</div>
