@import url('https://fonts.googleapis.com/css?family=Lora');

*{
	/*border: 1px solid black;*/
	box-sizing: border-box;
	background: rgba(255,255,255,0.8);
}

p{
	font-family: "Lora", sans-serif;
}

body{
	background-color: #f5f8fa;
}

.container{
	width: 65%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;

}
/*
.row [class*="col-"]{
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}*/

.row{
	/*border: 1px solid black;*/
	margin-left: 0;
    margin-right: 0; 
    margin-top: 20px;
}

.col-md-4, .col-md-8{
	vertical-align: middle;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}

.panel-body  {
    word-break:break-all;	/*Para que el texto no sobresalga del panel*/
}


@media only screen and (min-device-width: 1280px) {
	.col-md-4, .col-md-8{
		vertical-align: middle;
	    display: inline-block;
	    float: none;
	    align-items: center;
	    padding: 15px;
	}

	.container, .row, .panel, .panel-body, #imgAyudante{
		padding: 15px;
	}

	p{
		padding: 5px;
	}
	.col-md-8{
		text-align: justify;
	}

	#imgAyudante{
		max-height: 250px;
		min-height: 250px;
		height: 250px;
		max-width: 250px;
		min-width: 250px;
		width: 250px;
	}
		#map{
			
			height: 500px;
		}
}

