h3 {
  margin-top: 5%;
  text-align: center;
}

div.contenedor {
  margin: 5%;
  margin-top: 2%;
}

div.profesores {
  margin: 2%;
}

#foto-profesor {
}
div.profesor {
  align-items: center;
   justify-content: center;
  margin-bottom: 5%;
}

img#foto-profesor {
  border-radius: 10px;
}
img.center {
    display: block;
    margin: 0 auto;
}

a.nombre {
  align-content: center;
  color: rgba(13, 13, 14, 0.88);
}
