<div class="nav-link">
  <span class='nav-links'><a href="#!/">Inicio sandbox</a></span><i class='icono fa fa-lg fa-chevron-right '></i>
  <span class='nav-links'><a href="#!/profesores">Profesores</a></span>
  <i class='icono fa fa-lg fa-chevron-right '></i>
	<span class='nav-links'><a href="#!/profesor/{{$ctrl.autor}}">Todos ejercicios</a></span>
</div>
<div class='contenedor'>
  <h1>Crear Ejercicio {{$ctrl.autor}}</h1>
	<div uib-alert ng-repeat="alert in $ctrl.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="$ctrl.closeAlert($index)" >{{alert.msg}}</div>
  <form class='formulario' name='ejercicioForm' novalidate>

  <div uib-alert ng-repeat="alert in $ctrl.alert_terminado" ng-class="'alert-' + (alert.type || 'warning')" close="$ctrl.closeAlertT($index)" >{{alert.msg}}</div>


    <div class='titulo form-group'>
      <div class="form-group">
        <label>Titulo</label>
        <input class='form-control forms' type="text" name="titulo"
          ng-model="$ctrl.ejercicio.titulo" ng-minlength='15' ng-maxlength='50'
          required placeholder="min 15 - max 50">
          <div ng-show="ejercicioForm.$submitted || ejercicioForm.titulo.$touched">
              <div ng-show="ejercicioForm.titulo.$error.required">
                <span class='errores' >El campo es obligatorio</span>
              </div>
              <div ng-show="ejercicioForm.titulo.$error.minlength">
                <span class='errores'>El tamaño es mayor a 15</span></div>
              <div ng-show="ejercicioForm.titulo.$error.maxlength">
                <span class='errores'>El tamaño es menor a 50</span>
              </div>
          </div>
      </div>
    </div>

    <div class="tags form-group">
      <div class="form-group" name="tags">
        <tags-input class='form-tags' ng-model="$ctrl.ejercicio.tags" placeholder='añadir tags (enter)' name='tags' require></tags-input>
        <!--
        <div ng-messages="{noTags:!$ctrl.tags.length}" ng-if="ejercicioForm.titulo.$touched">
          <div ng-message="noTags" style="color: red">Ingrese al menos un tag</div>
        </div>-->
        <div ng-show=" ejercicioForm.tags.$touched" >
          <div ng-if="$ctrl.ejercicio.tags.length == 0"><span  class='errores'>El campo es obligatorio</span></div>
          <div ng-show="ejercicioForm.tags.$error.required">
            <span class='errores' >El campo es obligatorio</span>
          </div>
        </div>
      </div>
    </div>

    <div class='dificultad form-group ' ng-mouseover="pasado = true" ng-init='pasado = false'>
      <div class="form-group" name="dificultad">
        <label for="dificultad">Dificultad</label><input-stars max="5" name="dificultad" icon-base="fa fa-fw fa-star" icon-empty=" fa-star-o" icon-hover="hover" icon-full="fa-star" ng-model="$ctrl.ejercicio.dificultad"  ></input-stars>
        <p ng-if="$ctrl.ejercicio.dificultad == 0 " style="color: red">*Campo obligatorio</p>
      </div>
    </div>

    <div class="declaracion-problema form-group ">
      <div class="form-group">
        <label for="declaracion_problema">Declaracion Problema</label>
        <textarea class="form-control forms form-declaracion-problema" rows="10" placeholder="min 15 - max 200" name='declaracion_problema' ng-model="$ctrl.ejercicio.declaracion_problema"
        ng-minlength="15"
        ng-maxlength="200"
        required></textarea>
        <div ng-show="ejercicioForm.$submitted || ejercicioForm.declaracion_problema.$touched">
            <div ng-show="ejercicioForm.declaracion_problema.$error.required">
              <span class='errores' class='errores' >El campo es obligatorio</span>
            </div>
            <div ng-show="ejercicioForm.declaracion_problema.$error.minlength">
              <span class='errores'>El tamaño es mayor a 15</span></div>
            <div ng-show="ejercicioForm.declaracion_problema.$error.maxlength">
              <span class='errores'>El tamaño es menor a 200</span>
            </div>
        </div>
      </div>
    </div>

    <div class='nota form-group'>
      <div class="form-group">
        <label>Notas</label>
        <textarea type="text" name="nota" rows="5" class="form-control forms"
          ng-model="$ctrl.ejercicio.nota"
          ng-minlength="5"
          ng-maxlength="50"
          required placeholder="min 5 - max 50"></textarea>

          <div ng-show="ejercicioForm.$submitted || ejercicioForm.nota.$touched">
              <div ng-show="ejercicioForm.nota.$error.required">
                <span class='errores' class='errores' >El campo es obligatorio</span>
              </div>
              <div ng-show="ejercicioForm.nota.$error.minlength">
                <span class='errores'>El tamaño es mayor a 15</span></div>
              <div ng-show="ejercicioForm.nota.$error.maxlength">
                <span class='errores'>El tamaño es menor a 50</span>
              </div>
          </div>
      </div>
    </div>

    <div class="formato_de_entrada form-group">
      <div >
        <label for="">Formato de entrada</label>
        <textarea class="form-control forms" rows="5" placeholder="min 5 - max 50" name="formato_de_entrada" ng-model="$ctrl.ejercicio.formato_de_entrada"
        ng-minlength="5"
        ng-maxlength="50"
        required></textarea>
        <div ng-show="ejercicioForm.$submitted || ejercicioForm.formato_de_entrada.$touched">
            <div ng-show="ejercicioForm.formato_de_entrada.$error.required">
              <span class='errores' class='errores' >El campo es obligatorio</span>
            </div>
            <div ng-show="ejercicioForm.formato_de_entrada.$error.minlength">
              <span class='errores'>El tamaño es mayor a 5</span></div>
            <div ng-show="ejercicioForm.formato_de_entrada.$error.maxlength">
              <span class='errores'>El tamaño es menor a 50</span>
            </div>
        </div>
      </div>
    </div>

    <div class="constrains form-group">
      <div>
        <label for="">Constrains</label>
        <textarea class="form-control forms" rows="5" placeholder="min 5 - 50 max" name="constrains"  ng-model="$ctrl.ejercicio.constrains"
        ng-minlength="5"
        ng-maxlength="50"></textarea>
        <div ng-show="ejercicioForm.$submitted || ejercicioForm.constrains.$touched">
            <div ng-show="ejercicioForm.constrains.$error.minlength">
              <span class='errores'>El tamaño es mayor a 5</span></div>
            <div ng-show="ejercicioForm.constrains.$error.maxlength">
              <span class='errores'>El tamaño es menor a 50</span>
            </div>
        </div>
      </div>
    </div>

    <div class="salida form-group">
      <div>
        <label for="">Salida</label>
        <textarea class="form-control forms" rows="5" placeholder="min 5 - 50 max" name="salida"  ng-model="$ctrl.ejercicio.salida"
        ng-minlength="5"
        ng-maxlength="50" required></textarea>
        <div ng-show="ejercicioForm.$submitted || ejercicioForm.salida.$touched">
            <div ng-show="ejercicioForm.salida.$error.required">
              <span class='errores' class='errores' >El campo es obligatorio</span>
            </div>
            <div ng-show="ejercicioForm.salida.$error.minlength">
              <span class='errores'>El tamaño es mayor a 5</span></div>
            <div ng-show="ejercicioForm.salida.$error.maxlength">
              <span class='errores'>El tamaño es menor a 50</span>
            </div>
        </div>
      </div>
    </div>


    <div class="ejemplo_entrada form-group">
      <div >
        <label for="">Ejemplo entrada</label>
        <textarea class="form-control forms" rows="5" placeholder="min 5 - 50 max" name="ejemplo_entrada"  ng-model="$ctrl.ejercicio.ejemplo_entrada"
        ng-minlength="5"
        ng-maxlength="50" required></textarea>
        <div ng-show="ejercicioForm.$submitted || ejercicioForm.ejemplo_entrada.$touched">
            <div ng-show="ejercicioForm.ejemplo_entrada.$error.required">
              <span class='errores'  >El campo es obligatorio</span>
            </div>
            <div ng-show="ejercicioForm.ejemplo_entrada.$error.minlength">
              <span class='errores'>El tamaño es mayor a 5</span></div>
            <div ng-show="ejercicioForm.ejemplo_entrada.$error.maxlength">
              <span class='errores'>El tamaño es menor a 50</span>
            </div>
        </div>
      </div>
    </div>

    <div class="ejemplo_salida form-group">
      <div>
        <label for="">Ejemplo salida</label>
        <textarea class="form-control forms" rows="5" placeholder="min 5 - 50 max" name="ejemplo_salida"  ng-model="$ctrl.ejercicio.ejemplo_salida"
        ng-minlength="5"
        ng-maxlength="50" required></textarea>
        <div ng-show="ejercicioForm.$submitted || ejercicioForm.ejemplo_salida.$touched">
            <div ng-show="ejercicioForm.ejemplo_salida.$error.required">
              <span class='errores'  >El campo es obligatorio</span>
            </div>
            <div ng-show="ejercicioForm.ejemplo_salida.$error.minlength">
              <span class='errores'>El tamaño es mayor a 5</span></div>
            <div ng-show="ejercicioForm.ejemplo_salida.$error.maxlength">
              <span class='errores'>El tamaño es menor a 50</span>
            </div>
        </div>
      </div>
    </div>

    <div class="explicacion_problema form-group">
      <div>
        <label for="">Explicacion Problema</label>
        <textarea class="form-control forms" rows="10" placeholder="min 15 - max 200" name='explicacion_problema' ng-model="$ctrl.ejercicio.explicacion_problema"
        ng-minlength="15"
        ng-maxlength="200"
        required></textarea>
        <div ng-show="ejercicioForm.$submitted || ejercicioForm.explicacion_problema.$touched">
            <div ng-show="ejercicioForm.explicacion_problema.$error.required">
              <span class='errores'  >El campo es obligatorio</span>
            </div>
            <div ng-show="ejercicioForm.explicacion_problema.$error.minlength">
              <span class='errores'>El tamaño es mayor a 15</span></div>
            <div ng-show="ejercicioForm.explicacion_problema.$error.maxlength">
              <span class='errores'>El tamaño es menor a 200</span>
            </div>
        </div>
      </div>
    </div>
		<back-top scroll-speed=600 button-theme="light"><i class='fa fa-arrow-up fa-2x'></i></back-top>
    <button type="button" class="btn btn-default" ng-click="$ctrl.update(ejercicioForm)"><span>Crear</span></button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.borrar_alertas()" >Borrar Alertas</button>
  </form>
