<div ng-if="clase_escogida.id == '1.1'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/1.1/1.1_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '1.2'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/1.2/1.2_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '2.1'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/2.1/2.1_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '2.2'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/2.2/2.2_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '3.1'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/3.1/3.1_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '3.2'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/3.2/3.2_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '4.1'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/4.1/4.1_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '4.2'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/4.2/4.2_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '5.1'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/5.1/5.1_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '5.2'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/5.2/5.2_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '6.1'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/6.1/6.1_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '6.2'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/6.2/6.2_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '7.1'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/7.1/7.1_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '7.2'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/7.2/7.2_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '8.1'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/8.1/8.1_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '8.2'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/8.2/8.2_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '9.1'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/9.1/9.1_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '9.2'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/9.2/9.2_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '10.1'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/10.1/10.1_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '10.2'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/10.2/10.2_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '11.1'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/11.1/11.1_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '11.2'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/11.2/11.2_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '12.1'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/12.1/12.1_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '12.2'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/12.2/12.2_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '13.1'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/13.1/13.1_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '13.2'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/13.2/13.2_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '14.1'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/14.1/14.1_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '14.2'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/14.2/14.2_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '15.1'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/15.1/15.1_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '15.2'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/15.2/15.2_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '16.1'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/16.1/16.1_practica.html'"></div>
</div>
<div ng-if="clase_escogida.id == '16.2'">
  <div ng-include src="'../../public/data_fundamentos1/templates_html/16.2/16.2_practica.html'"></div>
</div>
