<div class='titulo'>
  <h2>Lista Ejercicios disponibles</h2>
</div>
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
    </li>
    <li><a href="#!/">Sandbox</a></li>
    <li><a href="#!/profesores">Profesores</a></li>
    <li>
      <a ng-if='$ctrl.profesor_data.correo.length == 1' href="#!/profesor/ejercicos/{{$ctrl.profesor_data.correo[0]}}">Mis Ejercicios</a>
      <a ng-if='$ctrl.profesor_data.correo.length == 2' href="#!/profesor/ejercicos/{{$ctrl.profesor_data.correo[1]}}">Mis Ejercicios</a>
    </li>
    <li>
    </li>
  </ul>
</nav>

<link rel="stylesheet" href="">
<ejercicios-lista></ejercicios-lista>
