<div class="nav-link">
  <span class='nav-links'><a href="#!/">Inicio sandbox</a></span><i class='icono fa fa-lg fa-chevron-right '></i>
  <span class='nav-links'><a href="#!/profesores">Profesores</a></span>
  <i class='icono fa fa-lg fa-chevron-right '></i>
  <span class='nav-links'><a ng-if='$ctrl.profesor_data.correo.length == 1' href="#!/profesor/ejercicos/{{$ctrl.profesor_data.correo[0]}}">Mis Ejercicios</a></span>
  <span class='nav-links'><a ng-if='$ctrl.profesor_data.correo.length == 2' href="#!/profesor/ejercicos/{{$ctrl.profesor_data.correo[1]}}">Mis Ejercicios</a></span>
    <a ng-if='$ctrl.profesor_data.correo.length == 1' href="#!/profesor/ejercicios/{{$ctrl.profesor_data.correo[0]}}/nuevo"><button class='nav-links-button btn btn-success'  >Crear ejercicio</button></a>
    <a ng-if='$ctrl.profesor_data.correo.length == 2' href="#!/profesor/ejercicios/{{$ctrl.profesor_data.correo[1]}}/nuevo"><button class='nav-links-button btn btn-success'  >Crear ejercicio</button></a>
</div>

<div class='titulo'>
  <h2>Lista Ejercicios disponibles</h2>
</div>

<link rel="stylesheet" href="">
<ejercicios-lista></ejercicios-lista>
